spring:
  datasource:
    url: jdbc:oracle:thin:@localhost:1521:xe
    username: SYSTEM
    password: admin
    driver-class-name: oracle.jdbc.OracleDriver

  session:
    store-type: jdbc
    jdbc:
      initialize-schema: always

  sql:
    init:
      mode: always
